@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.cabecalho{
    background: linear-gradient( 122deg, rgba(204, 199, 199, 0.726) 50%, rgba(158, 160, 158, 0.61)50%);
    float: left;
    width: 30%;
    height: 100vh;
}

.foto_caique{
    border-radius: 50%;
    width: 230px;
    padding: 50px;
    
}
.menu_nav li{
    padding-left: 100px;
    padding-top: 20px;
    font-size: 25px;
    
}
.menu_nav a {
    text-decoration: none;
    
}
 .menu_nav a:hover{
     color: rgb(12, 6, 90);
     font-size: 30px
 }

.container {
    background: linear-gradient( 146deg, rgba(204, 199, 199, 0.726) 50%, rgba(158, 160, 158, 0.61)50%);
    float: right;
    width: 70%;
    height: 100vh;
}

.nome_caique{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 90px;
    font-size: 50px;
    text-decoration: underline;
}

.sobre_nome{
    color: rgba(0, 0, 253, 0.671);
}
.endereco{
    text-transform: uppercase;
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
}

.texto{
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
    font-size: 20px;
}

.redes_sociais img{
    border-radius: 50%;
    width: 80px;
    margin-left: 150px;
    margin-top: 100px;
    padding: 30px;
    
}
.redes_sociais img:hover{
    border-radius: 50%;
    opacity: 0.5 ;
    
}

/* Conhecimento*/

.titulo_conhecimento{
    margin-top: 90px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.lista_letras{
    
    margin-top: 50px;
    margin-left: 150px;
    font-size: 25px;
    font-style: italic;
}

.lista_letras li{
    padding-top: 10px;
}


/* Objetivo*/

.titulo_objetivo{
    margin-top: 90px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}